* {
    margin: 0;
    padding: 0;
}
body {
    /* background: #1F2326; */
    background: #FF4656;
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    display: inline-block;
}

/* Header wrapper */

header {
    background: #1F2326;
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
nav {
    flex-grow: 1;
    margin-left: 20px;
}
nav a {
    color: #fff;
}
nav a:hover {
    color: #f56565;
    transition: .3s;
}
nav li {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
}

/* Main wrapper */

main {
    display: flex;
    background: url(./img/background.png)no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 50px 4%;
    /* timing parameters */
    position: relative;
}

/* Header wrapper */

.background-circle {
    position: absolute;
}
.wrapper {
    margin: 50px auto;
    max-width: 2660px;
    border-radius: 35px;
    overflow: hidden;
}
.logo a {
    display: inline-block;
}
.logo-company {
    margin-right: 30px;
}
.delimiter-logo {
    border-right: 2px solid #fff;
    height: 100%;
    display: inline-block;
}
.logo-company:hover {
   opacity: 0.5;
   transition: .3s;
}
.logo-game {
    margin-left: 30px;
}
.logo-game:hover {
    opacity: 0.5;
    transition: .3s;
}

.user-profile a {
display: flex;
align-items: center;
}
.user-profile-image {
    border-radius: 50%;
}
.user-profile-image:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255) ;
    transition: .3s;
}
.user-nickname {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}
.user-nickname:hover {
    color: #f56565;
    transition: .3s;
}

/* Main wrapper */

.hero-page {
    font-family: "Druk Wide",'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 156px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: rgba(255, 255, 255, 0);
    letter-spacing: 15px;
    writing-mode: vertical-lr;
}
.hero-wrapper {
    flex: 1 1 1000px;
    display: inline-flex;
    vertical-align: top;
    overflow-x: auto;
}
.hero-card {
    flex: 1 0 440px;
    margin: 0 40px;
    background: #1F2326;
    max-width: 440px;
    max-height: 990px;
    position: relative;
    border-top-left-radius: 10px;
}


/* Heroes image setting */

.hero-image-phoenix {
    background-image: url(./img/Phoenix.png);
}
.hero-image-jett {
    background-image: url(./img/Jett.png);
}
.hero-image-sova {
    background-image: url(./img/Sova.png);
}
.hero-image-sage {
    background-image: url(./img/Sage.png);
}
.hero-name {
    font-family: "Druk Wide",'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 72px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: rgba(255, 255, 255, 0);
    writing-mode: vertical-lr;
    letter-spacing: 15px;
    display: inline-block;
    margin-left: -30px;
}
.hero-country {
    font-family: "Druk Wide",'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #FF4656;
    font-size: 24px;
    writing-mode: vertical-lr;
}
.hero-ability {
    position: absolute;
    bottom: -20px;
    width: 440px;
    height: 110px;
    background: #1F2326;
    border: 2px solid #fff;
}
.ability {
    width: 40px;
    height: 40px;
}

/* Style active card */

.active-text {
    background: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}